<?xml version="1.0" encoding="UTF-8"?>

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<p:chart type="line" model="#{statsBean.burndownChart}" minY="0" animate="false" extender="scrum.util.extendPlot"
		seriesColors="FF0000" legendPosition="e" widgetVar="burndown" />
		
		
	<p:outputPanel rendered="#{prefBean.currentSprintId == 0}" layout="block">
		<h:outputText value="#{i18n['scrum-burndown-backlog']}" />
	</p:outputPanel>
	
</ui:composition>