<?xml version="1.0" encoding="UTF-8"?>

<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/composites">
			    	
    	<p:outputPanel id="discussionPanel" styleClass="scrumFieldset" layout="block">
	   		<ui:fragment rendered="#{!task.new}">
	   			<p:fieldset id="discussionFieldset" legend="#{i18n['scrum-form-discussion-header']}"
	    			toggleable="true" toggleSpeed="500" collapsed="#{prefBean.discussionFieldsetHidden}">
	    			
	    			<p:ajax event="toggle" listener="#{prefBean.handleToggleFieldset}" />
	   				
	   				<c:commentBox
	   					contextID="#{task.primaryKey}"
	   					comments="#{discussionBean.comments}"
						currentPage="#{discussionBean.commentsPage}"
						commentCount="#{discussionBean.commentCount}"
						commentsPerPage="#{discussionBean.commentsPerPage}"
						currentUserID="#{prefBean.userIdString}"
						currentUserUsername="#{liferay.user.fullName}"
						currentUserAvatarUrl="#{liferay.portraitURL[liferay.user.userId]}"
						editorControls="bold italic underline strikethrough | icon | image youtube | link unlink"
						onCreateComment="#{discussionBean.onCreateComment}"
						onCreateAnswer="#{discussionBean.onCreateAnswer}"
						onEditComment="#{discussionBean.onCommentEdit}"
						onCommentDelete="#{discussionBean.onCommentDelete}"
						enableLiveFeatures="false" />
	   				
	    		</p:fieldset>
	    	</ui:fragment>
    	</p:outputPanel>
</ui:composition>