<?xml version="1.0" encoding="UTF-8"?>

<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/composites"
	xmlns:portlet="http://java.sun.com/portlet_2_0">
					
   	<p:outputPanel id="filePanel" styleClass="scrumFieldset" layout="block">
   		<ui:fragment rendered="#{!task.new}">
   			<p:fieldset id="fileFieldset" legend="#{i18n['scrum-form-file-header']}"
    			toggleable="true" toggleSpeed="500" collapsed="#{prefBean.fileFieldsetHidden}">
    			
    			<p:ajax event="toggle" listener="#{prefBean.handleToggleFieldset}" />
				
				<h:form id="documentForm">
				            
				    <p:treeTable value="#{documentBean.documentTree}" var="document" style="margin-bottom: 25px;" emptyMessage="#{i18n['scrum-document-table-empty']}">
				        <f:facet name="header">
				            <h:outputText value="#{i18n['scrum-documents-header']}" />
				        </f:facet>
				  
				        <p:column styleClass="documentTitleColumn">
				            <f:facet name="header">
				            	<h:outputText value="#{i18n['scrum-documents-title']}" />
				            </f:facet>
				            <p:outputPanel styleClass="documentTitle" layout="block">
				            	<h:outputText value="#{document.title}" title="#{document.title}" />
				            </p:outputPanel>
				        </p:column>
				  
				        <p:column>
				            <f:facet name="header">
				            	<h:outputText value="#{i18n['scrum-documents-version']}" />
				            </f:facet>
				            <h:outputText value="#{document.version}" />
				        </p:column>
				        
				        <p:column>
				            <f:facet name="header">
				            	<h:outputText value="#{i18n['scrum-documents-preview']}" />
				            </f:facet>
				            
				            <p:lightBox rendered="#{document.image}" style="float: left">  
							    <h:outputLink value="#{document.previewSrc}" title="#{document.title}">
				        			<p:graphicImage styleClass="resizePreview" width="100px" url="#{document.thumbnailSrc}" />
							    </h:outputLink>
							</p:lightBox>
							
							<p:lightBox rendered="#{document.media}">  
							    <h:outputLink value="#" title="#{document.title}">  
							        <p:graphicImage styleClass="resizePreview" width="100px" url="#{document.thumbnailSrc}" />
							    </h:outputLink>
							    
							    	<portlet:resourceURL var="resourceURL" id="pdfPreview">
							    		<portlet:param name="fileEntryId" value="#{document.documentIdString}" />
							    		<portlet:param name="fileVersion" value="#{document.version}" />
							    	</portlet:resourceURL>
							  
							    <f:facet name="inline">
							        <p:media value="#{resourceURL}" player="pdf" width="500px" height="600px" />
							        <p:media value="#{document.pdfPreviewUrl}" player="pdf" width="500px" height="600px" />
							    </f:facet>
							</p:lightBox>
							
							<p:graphicImage rendered="#{!document.previewable}" width="100px" url="#{document.thumbnailSrc}" />
							
				        </p:column>
				  
				        <p:column>
				            <f:facet name="header">
				            	<h:outputText value="#{i18n['scrum-documents-mimetype']}" />
				            </f:facet>
				            <p:outputPanel styleClass="documentMimeType" layout="block">
				            	<h:outputText value="#{document.mimeType}" title="#{document.mimeType}" />
				            </p:outputPanel>
				        </p:column>
				  
				        <p:column>
				            <f:facet name="header">
				            	<h:outputText value="#{i18n['scrum-documents-size']}" />
				            </f:facet>
				            <h:outputText value="#{document.sizeFormat}" />
				        </p:column>
				  
				        <p:column>
				            <f:facet name="header">
				            	<h:outputText value="#{i18n['scrum-documents-date']}" />
				            </f:facet>
				            <h:outputText value="#{document.date}" />
				        </p:column>
				  
				        <p:column styleClass="documentActionsColumn">
				            
							<p:outputPanel layout="block" style="float: left;">
								<p:commandLink ajax="false" styleClass="downloadIcon" title="#{i18n['scrum-tooltip-download']}">
									<p:fileDownload value="#{documentBean.getFile(document.documentId,document.title,document.mimeType)}" />
								</p:commandLink>
							</p:outputPanel>
							
							<ui:fragment rendered="#{document.oldVersions != null}">
					            <p:outputPanel layout="block" style="float: left;">
						            <p:commandLink onclick="confirmation_#{document.documentId}.show()" styleClass="deleteDocumentIcon" title="#{i18n['scrum-tooltip-delete-document']}" />
						        </p:outputPanel>
						        
						        <p:confirmDialog id="confirmDialog" message="#{i18n.replace('scrum-documents-delete-confirm', document.title)}"
						        	header="#{i18n['scrum-documents-delete-header']}" severity="alert" widgetVar="confirmation_#{document.documentId}">
											
									<p:commandButton id="confirm" value="#{i18n['scrum-delete']}" actionListener="#{documentBean.deleteMappingFromTable(document.mappingId)}"
										update=":documentForm" onclick="confirmation_#{document.documentId}.hide();" oncomplete="scrum.util.toggleTreeRows();" />
									<p:commandButton id="decline" value="#{i18n['scrum-cancel']}" onclick="confirmation_#{document.documentId}.hide()" type="button" /> 
											
								</p:confirmDialog>
							</ui:fragment>
				        </p:column>
				    </p:treeTable>
				  
				</h:form>  
				
    			<h:form id="uploadForm" enctype="multipart/form-data">
    			
    				<p:messages autoUpdate="true" severity="info, error" for="uploadForm" />

					<p:outputPanel id="replaceFilePanel" layout="block" rendered="#{documentBean.fileToReplace != null}" autoUpdate="true">
						
						<p:outputPanel layout="block">
							<h:outputText value="#{i18n['scrum-documents-replace-info-existing']}" rendered="#{!documentBean.fileToReplace.alreadyAssigned}" />
							<h:outputText value="#{i18n['scrum-documents-replace-info']}" /><br />
						</p:outputPanel><br />
					
						<p:commandButton id="useExistingFile" value="#{i18n['scrum-documents-use-existing']}" actionListener="#{documentBean.useExistingFile}"
							rendered="#{!documentBean.fileToReplace.alreadyAssigned}" update=":documentForm uploadForm" oncomplete="scrum.util.toggleTreeRows();" />
					
						<p:commandButton id="replaceFile" value="#{i18n['scrum-documents-replace']}" actionListener="#{documentBean.replaceFile}"
							update=":documentForm uploadForm" oncomplete="scrum.util.toggleTreeRows();" />
							
						<p:commandButton id="keepFile" value="#{i18n['scrum-documents-keep']}" actionListener="#{documentBean.keepFile}"
							update=":documentForm uploadForm" oncomplete="scrum.util.toggleTreeRows();" />
						
						<p:commandButton id="cancelReplace" value="#{i18n['scrum-cancel']}" update=":documentForm uploadForm"
							oncomplete="scrum.util.toggleTreeRows();">
							<f:setPropertyActionListener value="#{null}" target="#{documentBean.fileToReplace}" />
						</p:commandButton>
					</p:outputPanel>
					
					<p:outputPanel rendered="#{documentBean.fileToReplace == null}" layout="block" styleClass="uploadHeader ui-widget-header ui-corner-top">
						<h:outputText value="#{i18n['scrum-documents-add']}" />
					</p:outputPanel>
					
				   	<p:fileUpload rendered="#{documentBean.fileToReplace == null}" id="uploadNew" fileUploadListener="#{documentBean.handleFileUpload}" mode="advanced"
				    	update=":documentForm uploadForm" oncomplete="scrum.util.toggleTreeRows();"
				    	label="#{i18n['scrum-documents-choose']}" cancelLabel="#{i18n['scrum-cancel']}" uploadLabel="#{i18n['scrum-documents-upload']}" />

				</h:form>
   			
    		</p:fieldset>
    	</ui:fragment>
   	</p:outputPanel>

	<script type="text/javascript">
		$(function() {scrum.util.toggleTreeRows();});
	</script>
</ui:composition>