<?xml version="1.0" encoding="UTF-8"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/composites">
	
	<h:head />
	
	<h:body>
    		
   		<ui:param name="task" value="#{editTaskBean.currentTask}" />
   		
   		<p:messages autoUpdate="true" severity="info, error" />
   		
   		<ui:fragment rendered="#{editTaskBean.portletReady}">
    		
    		<p:tooltip />
    		
    		<p:outputPanel styleClass="viewContainer ui-widget-content" layout="block">
    		
	   			<p:button styleClass="backButton" value="#{i18n['scrum-back']}" outcome="view" icon="backButtonIcon" />
		    	
		    	<h:form id="editForm">
		    		
		    		<p:outputPanel styleClass="scrumFieldset" layout="block">
			    		<p:fieldset id="taskFieldset" legend="#{task.new ? i18n['scrum-form-create-header'] : i18n['scrum-form-edit-header']}"
			    			toggleable="true" toggleSpeed="500" collapsed="#{prefBean.taskFieldsetHidden}">
			    			
			    			<p:ajax event="toggle" listener="#{prefBean.handleToggleFieldset}" />
			    			
			    			<p:focus />
			    		
			    			<h:panelGrid styleClass="formPanel" columns="2">
			    				<h:outputText value="#{i18n['scrum-form-description']}: *" />
					    		<p:outputPanel layout="block">
						    		<p:inputText id="description" value="#{task.description}" required="true"
						    			requiredMessage="#{i18n['scrum-required-description']}" size="40" styleClass="helpInput" />
									<p:outputPanel layout="block" id="helpDescription" styleClass="helpIcon" />
								</p:outputPanel>
					    			
					    		<h:outputText value="#{i18n['scrum-form-group']}: " />
					    		<p:outputPanel layout="block">
							        <p:selectOneMenu id="taskGroup" value="#{editTaskBean.groupSelection}" editable="true" style="min-width: 200px;" panelStyle="min-width: 200px;" styleClass="helpInput">
										<f:selectItems value="#{taskBean.groupList}" var="group" itemLabel="#{group.description}"
											itemValue="#{group.description}" />
									</p:selectOneMenu>
									<p:outputPanel layout="block" id="helpTaskGroup" styleClass="helpIcon" />
								</p:outputPanel>
					    			
					    		<h:outputText value="#{i18n['scrum-sprint']}: " />
					    		<p:outputPanel layout="block">
							        <p:selectOneMenu id="sprint" value="#{task.sprintId}" styleClass="sprintInput helpInput">
										<f:selectItem itemLabel="Backlog" itemValue="0" />
										<f:selectItems value="#{sprintBean.sprintList}" var="sprint" itemLabel="#{sprint.sprintNumber}"
											itemValue="#{sprint.sprintId}" />
									</p:selectOneMenu>
									<p:outputPanel layout="block" id="helpSprintSelection" styleClass="helpIcon" />
								</p:outputPanel>
					    	
					    		<h:outputText value="#{i18n['scrum-form-text']}:" />
					    		<p:editor value="#{task.text}" validatorMessage="#{i18n['scrum-validate-task-text']}">
					    			<f:validateLength maximum="4000" />
					    		</p:editor>
					    		
					    		<h:outputText value="#{i18n['scrum-form-assigned-to']}:" />
					    		<p:outputPanel layout="block">
						    		<p:autoComplete id="assignedTo" forceSelection="true" value="#{task.assignedToUser}" completeMethod="#{taskBean.completeAvailableUsers}"
										var="user" itemLabel="#{user.screenName}" itemValue="#{user}" converter="#{userConverter}" queryDelay="100" styleClass="helpInput" />
									<p:outputPanel layout="block" id="helpAssignedTo" styleClass="helpIcon" />
								</p:outputPanel>
					    	
					    		<h:outputText value="#{i18n['scrum-form-status']}:" />
					    		<p:selectOneMenu id="status" value="#{task.status}" style="width:90px" converter="#{statusConverter}">  
			                        <f:selectItems value="#{taskBean.statusValues}"  
			                            var="status" itemLabel="#{status.name}" itemValue="#{status}" />  
			                    </p:selectOneMenu>
					    		
					    		<h:outputText value="#{i18n['scrum-form-evaluation']}:" />
					    		<p:inputText id="evaluation" value="#{task.evaluation}" required="true" size="5"
					    			requiredMessage="#{i18n['scrum-validate-evaluation']}" converterMessage="#{i18n['scrum-validate-evaluation']}">
					    			<f:validateLongRange />
					    		</p:inputText>
					    		
				    		</h:panelGrid>
					    	
					    	<p:outputPanel styleClass="taskButtonRow" layout="block">
					    		<p:commandButton value="#{i18n['scrum-save']}" actionListener="#{editTaskBean.submitTaskForm}" update="editForm :timeForm :filePanel"
					    			icon="saveButtonIcon">
					    			<f:param name="taskId" value="#{task.primaryKey}"/>
					    		</p:commandButton>
									
								<p:commandButton rendered="#{!task.new}"
									onclick="confirmation_delete_task.show()" value="#{i18n['scrum-delete']}" icon="deleteButtonIcon" />
									
						        <p:confirmDialog id="confirmDialog" header="#{i18n['scrum-task-delete-header']}" severity="alert" widgetVar="confirmation_delete_task">
									
									<f:facet name="message">
										<h:outputText rendered="#{task.totalWorkingHours gt 0}" value="#{i18n['scrum-delete-task-workinghours']}" />
										<h:outputText rendered="#{task.totalWorkingHours le 0}" value="#{i18n.replace('scrum-task-delete-confirm', task.description)}" />
									</f:facet>
									
									<p:commandButton id="confirm" ajax="false" process="@this" value="#{i18n['scrum-delete']}" action="#{editTaskBean.deleteTask}"
										 onclick="confirmation_delete_task.hide()" rendered="#{task.totalWorkingHours le 0}" />
									
									<p:commandButton id="decline" value="#{i18n['scrum-cancel']}" onclick="confirmation_delete_task.hide()" type="button" />
											
								</p:confirmDialog>
									
								<p:button value="#{i18n['scrum-back']}" outcome="view" icon="backButtonIcon" />
							</p:outputPanel>
				    		
				    		<p:tooltip for="helpDescription"><h:outputText escape="false" value="#{i18n['scrum-tooltip-description']}" /></p:tooltip>
				    		<p:tooltip for="helpTaskGroup"><h:outputText escape="false" value="#{i18n['scrum-tooltip-task-group']}" /></p:tooltip>
				    		<p:tooltip for="helpAssignedTo"><h:outputText escape="false" value="#{i18n['scrum-tooltip-assigned-to']}" /></p:tooltip>
				    		<p:tooltip for="helpSprintSelection"><h:outputText escape="false" value="#{i18n['scrum-tooltip-sprint-selection']}" /></p:tooltip>
				   		</p:fieldset>
				   	</p:outputPanel>
				</h:form>
				
				<h:form id="timeForm">
				   	
					<p:outputPanel id="taskTimePanel" styleClass="scrumFieldset" layout="block">
				   		<ui:fragment rendered="#{!task.new and task.sprintId gt 0}">
				    		<p:fieldset id="timeFieldset" legend="#{i18n['scrum-form-time-header']}"
				    			toggleable="true" toggleSpeed="500" collapsed="#{prefBean.timeFieldsetHidden}">
				    			
				    			<p:ajax event="toggle" listener="#{prefBean.handleToggleFieldset}" />
				    			
				    			<p:dataTable id="timeDataTable" var="time" value="#{task.workingHours}" styleClass="timeTable"
									emptyMessage="#{i18n['scrum-time-table-empty']}" paginator="false" editable="true">
									
									<p:ajax event="rowEdit" listener="#{editTaskBean.onEditTime}" update="@this" />
							
									<p:column headerText="#{i18n['scrum-time-table-col-employee']}">
										<h:outputText value="#{time.employeeName}" />
									</p:column>
									
									<p:column headerText="#{i18n['scrum-time-table-col-start-date']}" width="151">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{time.startDate}">
													<f:convertDateTime pattern="#{i18n['scrum-date-format-full']}" />
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<p:calendar value="#{time.startDate}" pattern="#{i18n['scrum-date-format-full']}" stepMinute="5"
													required="true" requiredMessage="#{i18n['scrum-required-time-start-date']}" />
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column headerText="#{i18n['scrum-time-table-col-hours']}" width="71">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{time.hours}">
													<f:convertNumber pattern="#0.##" />
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<p:spinner value="#{time.hours}" styleClass="timeInput" size="4" min="0.25" max="24" stepFactor="0.25"
													required="true" requiredMessage="#{i18n['scrum-required-time-hours']}" />
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column headerText="#{i18n['scrum-time-table-col-comment']}" width="251">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{time.comment}" />
											</f:facet>
											<f:facet name="input">
												<h:inputText value="#{time.comment}" styleClass="commentInput" />
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column styleClass="editColumn">
										<ui:fragment rendered="#{time.userId == prefBean.userId}">
											<p:rowEditor id="inlineEditor" />
											<p:tooltip for="inlineEditor" value="#{i18n['scrum-tooltip-inline-editor']}" />
											<p:outputPanel layout="block" styleClass="deleteButtonContainer">
												<p:commandLink id="deleteTime" update="timeDataTable :editForm:confirmDialog" styleClass="ui-icon ui-icon-trash" immediate="true"
													title="#{i18n['scrum-tooltip-delete-time']}" style="margin-left: 10px;">  
									                <f:setPropertyActionListener value="#{time}" target="#{editTaskBean.timeToDelete}" />  
									            </p:commandLink> 
								            </p:outputPanel>
							            </ui:fragment>
									</p:column>
									
								</p:dataTable>
								
								<p:commandButton value="#{i18n['scrum-new-time']}" actionListener="#{editTaskBean.addNewTime}" process="@this"
									update="timeDataTable :editForm:confirmDialog" oncomplete="scrum.util.toggleEditNewDataTableItem()" styleClass="addButton" icon="addButtonIcon" />
				    		
				    		</p:fieldset>
				    	</ui:fragment>
			    	</p:outputPanel>
				 </h:form>
				    	
		    	 <ui:include src="documents.xhtml" />
				    	
				 <ui:include src="discussion.xhtml" />
				   	
			   	<p:outputPanel layout="block" style="clear: both;" />
		   	</p:outputPanel>
		</ui:fragment>
    </h:body>
</f:view>