<?xml version="1.0" encoding="UTF-8"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
>
	<h:head />
	
	<h:body id="prefBody">
    	<h:form id="prefForm">
    	
    		<p:tooltip />
    	
		    <p:messages autoUpdate="true" severity="info, error" />
		    
			<p:outputPanel styleClass="scrumFieldset" layout="block">
	    		<p:fieldset id="preferencesFieldset" legend="#{i18n['scrum-preferences-panel']}" toggleable="true"
	    			toggleSpeed="500" collapsed="#{prefBean.prefFieldsetHidden}">
	    		
	    			<p:ajax event="toggle" listener="#{prefBean.handleToggleFieldset}" />
	    			
	    			<h:panelGrid styleClass="formPanel prefPanel" columns="2">
				    		<p:selectOneMenu id="scrumGroupId" value="#{prefBean.scrumGroupId}" required="true" style="float: left;"
				    			validatorMessage="#{i18n['scrum-required-user-group']}">
				    			<f:selectItem itemLabel="-" itemValue="0"/>
				    			<f:selectItems value="#{prefBean.availableUserGroups}" var="userGroup"
				    				itemLabel="#{userGroup.name}" itemValue="#{userGroup.userGroupId}" />
				    			<f:validateLongRange minimum="1" />
				    		</p:selectOneMenu>
				    		
							<p:outputPanel layout="block" id="helpScrumGroup" styleClass="helpIcon" />
			    		
			    	</h:panelGrid>
			    		
		    		<h:outputText value="#{i18n['scrum-individual-preferences']}:" styleClass="prefHeadline" />
			    		
		    		<h:panelGrid styleClass="formPanel" columns="2">
			    		
			    		<h:outputText value="#{i18n['scrum-preferences-theme']}:" />			    		
					    <p:themeSwitcher id="themeSwitcher" immediate="true" value="#{prefBean.theme}" effect="fade" style="width: 155px;" var="t">
					    	<f:selectItem itemLabel="Choose theme" itemValue="" />
					    	<f:selectItems value="#{prefBean.availableThemes}" var="theme" itemLabel="#{theme.name}" itemValue="#{theme}" styleClass="ui-theme" />
					    	<p:ajax update=":prefBody" />
					    	
					    </p:themeSwitcher>
					    
					    <h:outputText value="#{i18n['scrum-preferences-push']}:" />
					    <p:outputPanel layout="block">
					    	<p:selectBooleanCheckbox id="enablePush" value="#{prefBean.pushEnabled}" style="float: left;" />
							<p:outputPanel layout="block" id="helpPush" styleClass="helpIcon" />
						</p:outputPanel>
						
						<p:tooltip for="helpPush"><h:outputText escape="false" value="#{i18n['scrum-tooltip-push']}" /></p:tooltip>
			    		<p:tooltip for="helpScrumGroup"><h:outputText escape="false" value="#{i18n['scrum-tooltip-scrum-group']}" /></p:tooltip>
	    		
	    				<p:commandButton value="#{i18n['scrum-save']}" actionListener="#{taskBean.submitPreferencesForm}"
	    					update=":statusForm" icon="saveButtonIcon" />
	    				
			    	</h:panelGrid>
	    		</p:fieldset>
	    	</p:outputPanel> 
	    </h:form>
	    
	   <h:form id="statusForm">
    		<p:outputPanel id="statusPanel" styleClass="scrumFieldset" layout="block">
	    		<p:fieldset id="statusFieldset" legend="#{i18n['scrum-status-panel']}" toggleable="true"
	    			toggleSpeed="500" collapsed="#{prefBean.statusFieldsetHidden}">
	    			
	    			<p:ajax event="toggle" listener="#{prefBean.handleToggleFieldset}" />
	    			
					<p:dataTable id="statusDataTable" var="status" value="#{taskBean.statusValues}" styleClass="statusTable"
						emptyMessage="#{i18n['scrum-status-table-empty']}" paginator="false" editable="true">
						
						<p:ajax event="rowEdit" listener="#{taskBean.onEditStatus}" update="@this" />
				
						<p:column headerText="#{i18n['scrum-status-table-col-index']}">
							<p:outputPanel layout="block" styleClass="sortIndexArrows">
					            
					            <p:commandLink id="decreaseIndex" update="statusDataTable" styleClass="ui-icon ui-icon-carat-1-n">  
					                <f:setPropertyActionListener value="#{status}" target="#{taskBean.lowerStatusIndex}" />  
					            </p:commandLink>
					            
								<p:commandLink id="increaseIndex" update="statusDataTable" styleClass="ui-icon ui-icon-carat-1-s">  
					                <f:setPropertyActionListener value="#{status}" target="#{taskBean.higherStatusIndex}" />  
					            </p:commandLink>
					        </p:outputPanel>
						</p:column>
						
						<p:column headerText="#{i18n['scrum-status-table-col-name']}">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{status.name}" />
								</f:facet>
								<f:facet name="input">
									<h:inputText value="#{status.name}" required="true" requiredMessage="#{i18n['scrum-required-status-name']}" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						
						<p:column headerText="#{i18n['scrum-status-table-col-fixed']}">
							<p:cellEditor>
								<f:facet name="output">
									<p:selectBooleanCheckbox value="#{status.fixedStatus}" disabled="true" />
								</f:facet>
								<f:facet name="input">
									<p:selectBooleanCheckbox value="#{status.fixedStatus}" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						
						<p:column styleClass="editColumn">
							<p:rowEditor id="inlineEditor" />
								<p:tooltip for="inlineEditor" value="#{i18n['scrum-tooltip-edit-status']}" />
							<p:outputPanel layout="block" styleClass="deleteButtonContainer">
								<p:commandLink id="deleteStatus" update="statusDataTable" styleClass="ui-icon ui-icon-trash"
									title="#{i18n['scrum-tooltip-delete-status']}">  
					                <f:setPropertyActionListener value="#{status}" target="#{taskBean.statusToDelete}" />  
					            </p:commandLink> 
				            </p:outputPanel>
						</p:column>
						
					</p:dataTable>
					

					<p:commandButton value="#{i18n['scrum-new-status']}" actionListener="#{taskBean.addNewStatusValue}" process="@this"
						update="statusPanel" oncomplete="scrum.util.toggleEditNewDataTableItem()" styleClass="addButton" icon="addButtonIcon" />
	    		</p:fieldset>
	    	</p:outputPanel>
    	</h:form> 
	    <p:outputPanel layout="block" style="clear: both" />
    </h:body>
</f:view>