<?xml version="1.0" encoding="UTF-8"?>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:panelGrid styleClass="colorModeGrid ui-widget-header" columns="2">
        <h:outputText value="#{i18n['scrum-color-mode']}: " />
        <p:selectOneButton id="selectColorMode" styleClass="selectColorMode" value="#{prefBean.colorMode}">
            <f:selectItem itemLabel="#{i18n['scrum-color-mode-default']}" itemValue="DEFAULT"
            	itemDescription="#{i18n['scrum-tooltip-color-default']}" />
            <f:selectItem id="colorIndividual" itemLabel="#{i18n['scrum-color-mode-individual']}" itemValue="INDIVIDUAL"
            	itemDescription="#{i18n['scrum-tooltip-color-individual']}" />
            <f:selectItem itemLabel="#{i18n['scrum-color-mode-group']}" itemValue="GROUP"
            	itemDescription="#{i18n['scrum-tooltip-color-group']}" />
            <p:ajax update=":scrumBoardForm" oncomplete="scrum.scrumBoard.init()" />
        </p:selectOneButton>
    </h:panelGrid>
	
	<p:button outcome="editTask" value="#{i18n['scrum-new-task']}" styleClass="addButton" style="display: block;" icon="addButtonIcon">
		<f:param name="taskId" value="0" />
		<f:param name="newTask" value="true" />
	</p:button>
	
	<ui:repeat value="#{taskBean.statusValues}" var="status" varStatus="iterationStatus">
		<div class="scrumBoardColumn" style="width: #{taskBean.roundedColumnWidth}%;">
			<div class="scrumBoardStatus ui-widget-header">
				<h:outputText value="#{status.name}" />
			</div>
			
			<ul id="tasks_#{iterationStatus.index}" class="taskColumn">
				<ui:repeat value="#{taskBean.getTasksByStatus(iterationStatus.index)}" var="task" varStatus="taskIterationStatus">
					<li class="taskContainer" id="task_#{task.primaryKey}">
						<p:panel id="task" styleClass="task" style="background:white" header="#{task.description}"> 
							<div class="taskGroupName">
								<h:outputText rendered="#{task.groupTask != null}" value="(#{task.groupTask.description})" />  
							</div>
							<div class="taskEvaluation">
								<h:outputText value="#{task.evaluation}">
									<f:convertNumber pattern="#0.##" />
								</h:outputText>
								<br />
								<p:outputPanel rendered="#{task.totalWorkingHours > 0}"
									style="color: #{task.totalWorkingHours > task.evaluation ? '#EE0000' : '#00CC00'}">
									<h:outputText value="#{task.totalWorkingHours}">
										<f:convertNumber pattern="#0.##" />
									</h:outputText>
								</p:outputPanel>
							</div>
							
							<span class="assignedTo">
						    	<h:outputText value="#{task.assignedToName}" />  
						    </span>
						    
						    <div class="taskActions">
						    	<p:outputPanel layout="block" id="colorPickerIcon" styleClass="colorPicker">
						    		<div />
						    	</p:outputPanel>
						    	<p:outputPanel rendered="#{prefBean.currentSprintId != 0}" layout="block" id="timeIcon">
						    		<div class="timeIcon" onclick="PF('dlg_#{task.primaryKey}').show()" />
						    	</p:outputPanel>
						    	<p:outputPanel layout="block" id="editIcon">
						    		<h:link id="editLink" outcome="editTask" title="#{i18n['scrum-tooltip-edit-task']}">
						    			<f:param name="taskId" value="#{task.primaryKey}" />
										<f:param name="newTask" value="false" />
						    			<div class="editIcon"></div>
						    		</h:link>
					    		</p:outputPanel>
					    		
					    		<p:tooltip for="colorPickerIcon" value="#{i18n['scrum-tooltip-colorpicker']}" />
					    		<p:tooltip for="timeIcon" value="#{i18n['scrum-tooltip-time-dialog']}" />
						    </div>
						</p:panel> 
						
				    	<p:dialog id="timeDialog" header="#{task.description}" widgetVar="dlg_#{task.primaryKey}" modal="true" resizable="false"
				    		appendToBody="false" position="center" showEffect="fade" hideEffect="fade" width="240">
							
							<h:outputLabel for="time" value="#{i18n['scrum-save-hours']}:" />
							<p:spinner id="time" value="#{task.timeToSave.hours}" styleClass="timeInput" size="4" min="0.25" max="24" stepFactor="0.25"
								required="true" requiredMessage="#{i18n['scrum-required-time-hours']}" />
							
							<h:outputLabel for="comment" value="#{i18n['scrum-save-hours-comment']}:" />
							<h:inputText id="comment" value="#{task.timeToSave.comment}" size="30" />
							
							<p:commandButton value="#{i18n['scrum-save']}" actionListener="#{taskBean.submitTimeForm(task)}" styleClass="saveTimeButton"
								onclick="$('.scrumBoardHidden').val('');" oncomplete="PF('dlg_#{task.primaryKey}').hide(); scrum.scrumBoard.init();"
								update=":tableForm :scrumBoardForm" icon="saveTimeButtonIcon" />
						</p:dialog>
						
						<input type="hidden" id="#{task.primaryKey}_taskGroupId" value="#{task.taskGroupId}" />
					</li>
				
				</ui:repeat>
			</ul>
					
		</div>
	</ui:repeat>

	<div style="clear: both;" />
	
</ui:composition>