<?xml version="1.0" encoding="UTF-8"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:head />
	
	<h:body>
	
		<p:messages autoUpdate="true" severity="error" />
	
		<ui:fragment rendered="#{taskBean.portletReady}">
			<p:tooltip />
    		
   			<ui:param name="sprint" value="#{statsBean.statusSprint}" />
			    
			<p:outputPanel styleClass="viewContainer ui-widget-content" layout="block">
		
				<p:button styleClass="backButton" value="#{i18n['scrum-back']}" outcome="view" icon="backButtonIcon" />
			
		    	<h:form id="statusForm">
		    		<p:outputPanel styleClass="scrumFieldset" layout="block" style="min-width: 1000px; text-align: center; position: relative;">
			
			    		<p:fieldset id="sprintStatusFieldset" legend="#{i18n['scrum-form-sprint-status-header']}"
			    			toggleable="true" toggleSpeed="500" collapsed="#{prefBean.sprintStatusFieldsetHidden}">
			    			
			    			<p:ajax event="toggle" listener="#{prefBean.handleToggleFieldset}" />
			    			
			    			<p:outputPanel layout="block">
			    			
			    				<p:commandButton actionListener="#{statsBean.loadPreviousStatusSprint}"
			    					disabled="#{statsBean.previousStatusSprintId == 0}" update=":statusForm :moveTaskForm"
			    					oncomplete="scrum.util.rebuildStatusPlots()" icon="ui-icon-circle-triangle-w" />
			    				
			    				<p:outputPanel styleClass="ui-widget-header sprintStatusHeader">
			    					<h:outputText value="#{statsBean.statusSprintTitle}" />
			    				</p:outputPanel>
			    				
			    				<p:commandButton actionListener="#{statsBean.loadNextStatusSprint}" ajax="false"
			    					disabled="#{statsBean.nextStatusSprintId == 0}" update=":statusForm :moveTaskForm"
			    					oncomplete="scrum.util.rebuildStatusPlots()" icon="ui-icon-circle-triangle-e" />
			
								<p:commandButton rendered="true" styleClass="deleteSprintButton"
									onclick="confirmation_delete_sprint.show()" value="#{i18n['scrum-delete']}" icon="deleteButtonIcon" />
													
						        <p:confirmDialog id="confirmDialog" header="#{i18n['scrum-sprint-delete-header']}" severity="alert" widgetVar="confirmation_delete_sprint">
									<f:facet name="message">
										<h:outputText rendered="#{statsBean.taskCount gt 0}" value="#{i18n['scrum-delete-sprint-impossible']}" />
										<h:outputText rendered="#{statsBean.taskCount le 0}" value="#{i18n.replace('scrum-sprint-delete-confirm', statsBean.statusSprintTitle)}" />
									</f:facet>
									
									<p:commandButton id="confirm" ajax="false" process="@this" value="#{i18n['scrum-delete']}" action="#{sprintBean.deleteSprint(statsBean.statusSprint.sprintId)}"
										 onclick="confirmation_delete_sprint.hide()" rendered="#{statsBean.taskList.size() le 0}" />
									
									<p:commandButton id="decline" value="#{i18n['scrum-cancel']}" onclick="confirmation_delete_sprint.hide()" type="button" />
								</p:confirmDialog>
			    					
			    				<p:outputPanel layout="block" style="margin-top: 10px;">
			    					<h:outputText value="#{statsBean.statusSprint.startDate}">
										<f:convertDateTime pattern="#{i18n['scrum-date-format']}" />
			    					</h:outputText>
			    							-
			    					<h:outputText value="#{statsBean.statusSprint.endDate}">
										<f:convertDateTime pattern="#{i18n['scrum-date-format']}" />
			    					</h:outputText>
			    				</p:outputPanel>
			    			
			    			</p:outputPanel>
			    			
			    			<p:outputPanel rendered="#{statsBean.taskList.size() > 0}" layout="block" style="margin: 20px auto 0; width: 800px;">
				    			<p:chart type="metergauge" id="meterGauge" model="#{statsBean.meterGaugeModel}" widgetVar="meter" showTickLabels="true" labelHeightAdjust="110" intervalOuterRadius="130"   
		                               seriesColors="cc6666, E7E658, 93b75f, 66cc66" style="width:400px; height:250px; float: left;" title="#{i18n['scrum-status-completed-points']}" />
									
								<p:chart type="pie" model="#{statsBean.taskStatusChart}" widgetVar="taskStatus" legendPosition="w" style="width: 400px; float: left;"
									title="#{i18n['scrum-status-task-status']}" showDataLabels="true" />
									
				    			<p:outputPanel layout="block" style="clear: both;" />
			    			</p:outputPanel>
			    			
			    			<p:chart type="line" rendered="#{statsBean.taskList.size() > 0}" value="#{statsBean.getBurndownChartStatus(sprint.sprintId)}" minY="0" animate="false"
			    				extender="scrum.util.extendPlot" seriesColors="FF0000" widgetVar="burndown" title="#{i18n['scrum-tab-burndown']}" style="margin: auto;"
			    				legendPosition="e" />
			    			
			    			<p:dataTable id="taskTable" styleClass="sprintStatusTable" var="task" value="#{statsBean.taskList}"
			    				emptyMessage="#{i18n['scrum-task-table-empty']}" paginator="false" rowStyleClass="#{task.statusTableClass}" >
			    				
			    				<f:facet name="header">
			    					<h:outputText value="#{i18n['scrum-status-table']} " />
			    				</f:facet>
	
								<p:column headerText="#{i18n['scrum-table-col-description']}">
									<h:outputText value="#{task.description}" />
								</p:column>
								
								<p:column headerText="#{i18n['scrum-table-col-assigned-to']}">
									<h:outputText value="#{task.assignedToName}" />
								</p:column>
								
								<p:column headerText="#{i18n['scrum-table-col-status']}">
									<h:outputText value="#{task.status.name}" />
								</p:column>
								
								<p:column headerText="#{i18n['scrum-table-col-eval']}">
									<h:outputText value="#{task.evaluation}">
										<f:convertNumber pattern="#0.##" />
									</h:outputText>
								</p:column>
								
								<p:column headerText="#{i18n['scrum-table-col-hours']}">
									<h:outputText value="#{task.totalWorkingHours}">
										<f:convertNumber pattern="#0.##" />
									</h:outputText>
								</p:column>
								
								<p:column headerText="#{i18n['scrum-table-col-overtime']}">
									<p:outputPanel rendered="#{task.statusTableClass eq 'overtimeTask'}">
										+<h:outputText value="#{task.totalWorkingHours - task.evaluation}">
											<f:convertNumber pattern="#0.##" />
										</h:outputText>
										
										(<h:outputText value="#{(task.totalWorkingHours - task.evaluation) / task.evaluation}">
											<f:convertNumber type="percent" />
										</h:outputText>)
									</p:outputPanel>
									<p:outputPanel rendered="#{task.statusTableClass eq 'undertimeTask'}">
										-<h:outputText value="#{task.evaluation - task.totalWorkingHours}">
											<f:convertNumber pattern="#0.##" />
										</h:outputText>
										
										(<h:outputText value="#{(task.evaluation - task.totalWorkingHours) / task.evaluation}">
											<f:convertNumber type="percent" />
										</h:outputText>)
									</p:outputPanel>
								</p:column>
								
								<p:columnGroup type="footer" rendered="#{statsBean.overtimeHours != 0}">  
						            <p:row>
						                <p:column colspan="5" footerText="#{i18n['scrum-status-footer']}" style="text-align:right"  />
						                                
						                <p:column styleClass="#{statsBean.overtimeHours > 0 ? 'overtimeTask' : 'undertimeTask'}">
						                	<f:facet name="footer">
						                		<h:outputText rendered="#{statsBean.overtimeHours > 0}" value="+" />
						                		<h:outputText value="#{statsBean.overtimeHours}">
						                			<f:convertNumber pattern="#0.##" />
						                		</h:outputText>
						                	</f:facet>
						                </p:column>
						            </p:row>
						        </p:columnGroup>
			    				
			    			</p:dataTable>
			    			
			    		</p:fieldset>
		    		</p:outputPanel>
		    	</h:form>
		    	
		    	<h:form id="moveTaskForm">
		    		<p:outputPanel styleClass="scrumFieldset" layout="block">
			    		<p:fieldset id="sprintMoveFieldset" legend="#{i18n['scrum-form-sprint-move-header']}"
			    			toggleable="true" toggleSpeed="500" collapsed="#{prefBean.sprintMoveFieldsetHidden}">
			    			
			    			<p:ajax event="toggle" listener="#{prefBean.handleToggleFieldset}" />
			    			
			    			<p:dataTable id="moveTaskTable" var="task" value="#{editTaskBean.getAllTasksExceptSprint(statsBean.statusSprint.sprintId)}" paginator="false"  
                 				selection="#{editTaskBean.tasksToMove}" rowKey="#{task.primaryKey}">
                 				
                 				<p:column selectionMode="multiple" />
                 				
                 				<p:column filterBy="#{task.description}" filterMatchMode="contains"
									headerText="#{i18n['scrum-table-col-description']}">
                 					<h:outputText value="#{task.description}" />
                 				</p:column>
								
								<p:column sortBy="#{task.sprintId}" headerText="#{i18n['scrum-sprint']}">
									<h:outputText value="#{sprintBean.getSprintNumber(task.sprintId)}" />
								</p:column>

                 				<p:column headerText="#{i18n['scrum-table-col-eval']}">
									<h:outputText value="#{task.evaluation}">
										<f:convertNumber pattern="#0.##" />
									</h:outputText>
								</p:column>
								
								<p:column style="width: 100px;">
									<f:facet name="header">
										<p:outputPanel layout="block" style="white-space: normal">
											<h:outputText value="#{i18n['scrum-copy-tasks']}" />
											<p:outputPanel layout="block" id="helpCopyTasks" styleClass="helpIcon" style="float: right;" />
	                 						<p:tooltip for="helpCopyTasks"><h:outputText escape="false" value="#{i18n['scrum-tooltip-copy-tasks']}" /></p:tooltip>
                 						</p:outputPanel>
									</f:facet>
									<p:spinner value="#{task.timeForCopy}" styleClass="timeInput" size="4" min="0" max="24" stepFactor="0.25" />
								</p:column>
								
								<f:facet name="footer">
									<p:commandButton update=":moveTaskForm:moveList :moveTaskForm:confirmActions" onclick="PF('confirmation_move').show()" value="#{i18n['scrum-move-tasks']}" process=":moveTaskForm:moveTaskTable" />
								</f:facet>
								
								<p:outputPanel layout="block" style="float: left;">
						            
						        </p:outputPanel>
								
                 			</p:dataTable>
						        
					        <p:confirmDialog id="confirmDialog" styleClass="moveTaskDialog" header="#{i18n['scrum-move-tasks']}" widgetVar="PF('confirmation_move')">
					        	
					        	<f:facet name="message">
					        		<p:dataList id="moveList" value="#{editTaskBean.tasksToMove}" var="task" itemType="disc"
					        			emptyMessage="#{i18n['scrum-move-tasks-empty']}">
					        			<h:outputText rendered="#{task.timeForCopy gt 0}"
					        				value="#{i18n.replace('scrum-task-copy-list', task.description, statsBean.statusSprint.sprintNumber, task.timeForCopy)}" />
					        			<h:outputText rendered="#{task.timeForCopy le 0}"
					        				value="#{i18n.replace('scrum-task-move-list', task.description, statsBean.statusSprint.sprintNumber)}" />
					        		</p:dataList>
					        	</f:facet>
										
								<p:outputPanel id="confirmActions" layout="block">
									<p:commandButton id="confirmMove" actionListener="#{editTaskBean.moveTasksToSprint(statsBean.statusSprint.sprintId)}" action="#{statsBean.reset}"
	                						update=":moveTaskForm :statusForm" oncomplete="PF('confirmation_move').hide(); scrum.util.rebuildStatusPlots()"
	                						value="#{i18n['scrum-ok']}" rendered="#{editTaskBean.getTasksToMove().size() > 0}" />
									<p:commandButton id="decline" value="#{i18n['scrum-cancel']}" onclick="PF('confirmation_move').hide()" type="button" /> 
								</p:outputPanel>
							</p:confirmDialog>
			    			
			    		</p:fieldset>
		    		</p:outputPanel>
		    	</h:form>
				   	
			   	<p:outputPanel layout="block" style="clear: both;" />
	    	</p:outputPanel>
	    </ui:fragment>
	</h:body>
</f:view>