<?xml version="1.0" encoding="UTF-8"?>

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<p:outputPanel layout="block" styleClass="newSprintPanel" rendered="true">
		<h:panelGrid columns="1">
	        <h:panelGroup>
	            <h:outputText value="#{i18n['scrum-new-sprint-text-1']} "/>
	            <h:outputText id="daysOutput" value="#{sprintBean.sprintDays}" styleClass="sprintDaysOutput" />
	            <h:outputText value=" #{i18n['scrum-new-sprint-text-2']}"/>
	        	<h:inputHidden id="sprintDays" value="#{sprintBean.sprintDays}" />
	        </h:panelGroup>

	        <p:slider for="sprintDays" display="daysOutput" minValue="1" maxValue="31" />
	        <p:commandButton value="#{i18n['scrum-create']}" update=":form:sprintSelection"
	        	partialSubmit="true" process="@this, sprintDays" actionListener="#{sprintBean.addSprint}" icon="addSprintButtonIcon" />
	    </h:panelGrid> 
	</p:outputPanel>
	
	<p:schedule id="sprintSchedule" value="#{sprintBean.sprintSchedule}" leftHeaderTemplate="" rightHeaderTemplate="prev, next"
		styleClass="sprintSchedule" aspectRatio="3" widgetVar="sprintSchedule" locale="#{liferay.themeDisplay.locale}"
		draggable="true" resizable="true">
		
		<p:ajax event="eventMove" listener="#{sprintBean.onEventMove}" />
        <p:ajax event="eventResize" listener="#{sprintBean.onEventResize}" />
        <p:ajax disabled="false" event="eventSelect" listener="#{sprintBean.onEventSelect}" />
	</p:schedule>
	
</ui:composition>