<?xml version="1.0" encoding="UTF-8"?>

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<p:button outcome="editTask" value="#{i18n['scrum-new-task']}" styleClass="addButton" icon="addButtonIcon">
		<f:param name="taskId" value="0" />
		<f:param name="newTask" value="true" />
	</p:button>
	
	<p:dataTable id="taskDataTable" var="task" value="#{taskBean.taskList}" editable="true" editMode="row"
		emptyMessage="#{i18n['scrum-task-table-empty']}" paginator="true" rows="25" widgetVar="taskTable"
		paginatorPosition="bottom">
		
		<p:ajax oncomplete="scrum.scrumBoard.init()" event="rowEdit" listener="#{taskBean.onEditTask}"
			update=":scrumBoardForm" />
		
		<f:facet name="header">
	        <p:outputPanel>
	              <h:outputText value="#{i18n['scrum-table-search']} " />
	              <h:inputText id="globalFilter" onkeyup="taskTable.filter()" />
	        </p:outputPanel>
		</f:facet>
		
		<p:column sortBy="#{task.description}" filterBy="#{task.description}" filterMatchMode="contains"
			headerText="#{i18n['scrum-table-col-description']}">
			<p:cellEditor>
				<f:facet name="output">
					<h:outputText value="#{task.description}" />
				</f:facet>
				<f:facet name="input">
					<h:inputText value="#{task.description}" required="true" requiredMessage="#{i18n['scrum-required-description']}" size="40" />
				</f:facet>
			</p:cellEditor>
		</p:column>
		
		<p:column sortBy="#{task.assignedToName}" filterBy="#{task.assignedToName}" filterMatchMode="contains"
			headerText="#{i18n['scrum-table-col-assigned-to']}">
			<p:cellEditor>
				<f:facet name="output">
					<h:outputText value="#{task.assignedToName}" />
				</f:facet>
				<f:facet name="input">
					<p:autoComplete forceSelection="true" value="#{task.assignedToUser}" completeMethod="#{taskBean.completeAvailableUsers}"
						var="user" itemLabel="#{user.screenName}" itemValue="#{user}" converter="#{userConverter}" queryDelay="100" />
				</f:facet>
			</p:cellEditor>
		</p:column>
		
		<p:column sortBy="#{task.status.name}" filterBy="#{task.status.name}" filterMatchMode="exact" filterOptions="#{taskBean.statusOptions}"
			headerText="#{i18n['scrum-table-col-status']}">
			<p:cellEditor>
				<f:facet name="output">
					<h:outputText value="#{task.status.name}" />
				</f:facet>
				<f:facet name="input">
					<p:selectOneMenu value="#{task.status}" style="width:90px" converter="#{statusConverter}">  
                        <f:selectItems value="#{taskBean.statusValues}"  
                            var="status" itemLabel="#{status.name}" itemValue="#{status}" />  
                    </p:selectOneMenu>
				</f:facet>
			</p:cellEditor>
		</p:column>
		
		<p:column sortBy="#{task.evaluation}" headerText="#{i18n['scrum-table-col-eval']}">
			<p:cellEditor>
				<f:facet name="output">
					<h:outputText value="#{task.evaluation}">
						<f:convertNumber pattern="#0.##" />
					</h:outputText>
				</f:facet>
				<f:facet name="input">
					<h:inputText value="#{task.evaluation}" />
				</f:facet>
			</p:cellEditor>
		</p:column>
		
		<p:column headerText="#{i18n['scrum-table-col-hours']}">
			<h:outputText value="#{task.totalWorkingHours}">
				<f:convertNumber pattern="#0.##" />
			</h:outputText>
		</p:column>
		
		<p:column width="80">
			<p:rowEditor id="inlineEditor" />
			
			<span class="tableEditIcon">
				<h:link id="editTaskIcon" outcome="editTask">
	    			<f:param name="taskId" value="#{task.primaryKey}" />
					<f:param name="newTask" value="false" />
	    			<div class="editIcon"></div>
	    		</h:link>
    		</span>
    		
			<p:tooltip for="inlineEditor" value="#{i18n['scrum-tooltip-inline-editor']}" />
			<p:tooltip for="editTaskIcon" value="#{i18n['scrum-tooltip-edit-task']}" />
		</p:column>
	</p:dataTable>
</ui:composition>