<?xml version="1.0" encoding="UTF-8"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
>
	<h:head />	
	<h:body>
	
		<ui:fragment rendered="#{!taskBean.portletReady}">
			<p:messages autoUpdate="true" severity="error" />
		</ui:fragment>
		<ui:fragment rendered="#{taskBean.portletReady}">
			<p:tooltip />
			    
			<p:messages id="messages" showDetail="false" autoUpdate="true" closable="true" severity="info, error" />
			    	
			<p:outputPanel id="scrumPortlet" layout="block" styleClass="scrumPortlet">
			    
	    		<h:form id="form" styleClass="scrumForm">
		    	
					<h:panelGrid id="sprintSelection" class="sprintSelection ui-widget ui-widget-header" columns="2">
				        <h:outputText value="#{i18n['scrum-sprint']}: " />
				        <p:selectOneMenu id="sprintMenu" value="#{prefBean.currentSprintId}">
							<f:selectItem itemLabel="Backlog" itemValue="0" />
							<f:selectItems value="#{sprintBean.sprintList}" var="sprint" itemLabel="#{sprint.sprintNumber}"
								itemValue="#{sprint.sprintId}" />
								
							<p:ajax listener="#{taskBean.refreshTasks}" update=":scrumBoardForm :tableForm :burndownForm"
								oncomplete="scrum.scrumBoard.init()" />
						</p:selectOneMenu>
				    </h:panelGrid>
 	
					<p:remoteCommand name="sendAjaxCommand" actionListener="#{taskBean.sendAjaxCommand}" update=":scrumBoardForm :tableForm :burndownForm"
						oncomplete="scrum.util.initTabs(); scrum.scrumBoard.init()" />
				
				 	<p:remoteCommand name="refreshTasks" actionListener="#{taskBean.refreshTasks}" update=":tableForm :scrumBoardForm :burndownForm" oncomplete="scrum.scrumBoard.init()" />
				</h:form>
					
				<div id="scrumTabs">
				    <ul>
				        <li><a href="#tabScrumBoard">#{i18n['scrum-tab-board']}</a></li>
				        <li><a href="#tabTaskTable">#{i18n['scrum-tab-table']}</a></li>
				        <li><a href="#tabSprints">#{i18n['scrum-tab-sprints']}</a></li>
				        <li><a href="#tabBurndown">#{i18n['scrum-tab-burndown']}</a></li>
				    </ul>
				    <div id="tabScrumBoard">
				    	<h:form id="scrumBoardForm">
							<p:outputPanel layout="block" id="scrumBoard">
							    <ui:include src="scrumBoard.xhtml" />
							</p:outputPanel>
						</h:form>
					</div>
					<div id="tabTaskTable">
				    	<h:form id="tableForm">
							<p:outputPanel layout="block" id="table">
								<ui:include src="taskTable.xhtml" />
							</p:outputPanel>
						</h:form>
					</div>
					<div id="tabSprints">
				    	<h:form id="sprintForm">
							<p:outputPanel layout="block" id="sprints">
								<ui:include src="sprints.xhtml" />
							</p:outputPanel>
						</h:form>
					</div>
					<div id="tabBurndown">
				    	<h:form id="burndownForm">
							<p:outputPanel layout="block" id="burndown">
								<ui:include src="burndown.xhtml" />
							</p:outputPanel>
						</h:form>
					</div>
				</div>
				
			</p:outputPanel>
		</ui:fragment>
	</h:body>
		
	<script type="text/javascript">
		$(function() {
			if ($('.scrumPortlet').length > 0) {
				
				scrum.util.initTabs();
				scrum.scrumBoard.init();
				
				scrum.util.resetForm();
				var defaultSprintDays = $('.sprintDaysOutput').html();
				$('.newSprintPanel').find('input[type=hidden]').eq(0).val(defaultSprintDays);
			}
		});
	</script>
</f:view>