.com.ncrowd.scrum.portlet {
	font-size: 11px;
	line-height: 1.4;
}

.com.ncrowd.scrum.portlet li, .com.ncrowd.scrum.portlet textarea,
.com.ncrowd.scrum.portlet label, .com.ncrowd.scrum.portlet input,
.com.ncrowd.scrum.portlet button, .com.ncrowd.scrum.portlet select {
	line-height: 1.4;
}

.com.ncrowd.scrum.portlet input[type="text"] {
	width: auto;
	font-size: 1em;
	margin: 0;
	color: #3F3731;
}

.com.ncrowd.scrum.portlet .ui-editable-column .ui-selectonemenu {
	margin: 6px 5px 5px;
}

#scrumTabs {
	position: relative;
}

.scrumBoardColumn {
	float: left;
	border: 1px solid #000;
	padding: 0 !important;
	background-color: #efefef;
}

.scrumBoardStatus {
	width: 100%;
	padding: 15px 0;
	text-align: center;
	border: none !important;
}

.scrumBoardColumn ul.taskColumn {
	margin: 1em;	
}

.taskColumn li {
	list-style: none;
	float: none !important;
	border: none !important;
	white-space: normal !important;
}

.taskContainer {
	margin: 10px 0 !important;
}

.taskContainer .ui-panel-title {
	color: #333;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.taskContainer .ui-panel-content {
	color: #4f4f4f;
}

.taskContainer .ui-dialog-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 15em;
}

.task {
	cursor: move;
	position: relative;
}

.task .ui-panel-titlebar {
	border: none;
	background: none;
	padding-right: 30px !important;
}

.taskActions {
	display: none;
	float: right;
	cursor: auto;
}

.taskActions div {
	float: left;
}

.taskEvaluation {
	position: absolute;
	top: 10px;
	right: 14px;
	text-align: right;
}

.taskEvaluation span {
	text-shadow: 1px 1px 0 #FFFFFF;
}

.taskGroupName {
	font-style: italic;
	padding-bottom: 10px;
}

.colorPicker {
	position: relative;
	width: 24px;
	height: 24px;
	background: url(../images/colorpicker/select_small.png);
	cursor: pointer;
}

.colorPicker div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 18px;
	height: 18px;
	background: url(../images/colorpicker/select_small.png) center;
}

.colorModeGrid {
	position: absolute;
	top: 5px;
	right: 5px;
	width: auto;
	border: none;
	background: none;
}

.colorModeGrid td {
	border: none;
	padding: 0;
}

.colorModeGrid td:first-child {
	font-weight: bold;
	padding-right: 5px;
}

.scrumBoardHidden {
	display: none;
}

.taskContainer .timeInput {
	margin-left: 10px;
}

.formPanel td {
	padding: 10px;
}

.prefPanel {
	margin-bottom: 10px;
}

.scrumFieldset {
	float: left;
	margin: 0 10px 20px;
}

.com.ncrowd.scrum.portlet legend {
	font-size: 1em;
	line-height: 1.4;
	margin: 0;
	width: auto;
}

.com.ncrowd.scrum.portlet fieldset {
	padding: 0.6em 1em;
	border: 1px solid #e0cfc2;
}

.viewContainer fieldset {
	min-width: 660px;
}

.statusTable table {
	width: auto !important;
}

.addButton {
	margin: 10px 5px;
}

.saveTimeButton {
	margin: 10px 5px;
}

.editColumn {
	width: 85px;
}

.tableEditIcon {
	float: right;
}

.deleteButtonContainer {
	float: right;
}

.scrumPortlet {
	position: relative;
}

.sprintSelection {
	border: none;
	position: absolute;
	z-index: 400;
	top: 5px;
	right: 40%;
	width: auto;
	background: none;
}

.sprintSelection td:first-child {
	padding-right: 5px;
}

.sprintSelection .ui-selectonemenu {
	width: 85px !important;
}

.sprintInput {
	width: 100px !important;
}

.com.ncrowd.scrum.portlet .ui-selectonemenu label {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

.com.ncrowd.scrum.portlet .ui-selectonemenu ul {
	margin: 1em;
}

.com.ncrowd.scrum.portlet input.ui-selectonemenu-label {
	margin: 0;
}

.com.ncrowd.scrum.portlet .ui-spinner-input {
	padding-right: 20px !important;
}

.com.ncrowd.scrum.portlet .ui-spinner input[type="text"] {
	margin: 0;
}

.com.ncrowd.scrum.portlet .ui-cell-editor-input .ui-chkbox-box {
	margin-left: 10px;
}

.commentInput {
	width: 250px;
}

.com.ncrowd.scrum.portlet .ui-icon-carat-1-s {
	background-position: -65px 0;
}

#sprints {
	position: relative;
}

.newSprintPanel {
	position: absolute;
}

.newSprintPanel .ui-slider {
	margin: 5px 0;
	width: 100%;
}

.sprintSchedule {
	padding-top: 30px;
}

.ui-lightbox-nav-right, .ui-lightbox-nav-left {
	display: none !important;
}

.ui-lightbox-content {
	background-color: #fff;
}

.ui-lightbox-content img {
	width: auto;
	height: auto;
	max-width: none;
}

.com.ncrowd.scrum.portlet button.addButton {
	margin: 10px 0;
}

.addButtonIcon {
	background-image: url(../images/icons/add_small.png) !important;
}

.addSprintButtonIcon {
	background-image: url(../images/icons/date_small.png) !important;
}

.saveButtonIcon {
	background-image: url(../images/icons/save_small.png) !important;
}

.deleteButtonIcon {
	background-image: url(../images/icons/delete_small.png) !important;
}

.saveTimeButtonIcon {
	background-image: url(../images/icons/time_small.png) !important;
}

.backButtonIcon {
	background-image: url(../images/icons/back_small.png) !important;
}

.downloadIcon {
	background-image: url(../images/icons/download.png);
	background-size: cover;
	display: block;
	width: 24px;
	height: 24px;
	margin-right: 5px;
}

.deleteDocumentIcon {
	background-image: url(../images/icons/delete.png);
	background-size: cover;
	display: block;
	width: 24px;
	height: 24px;
	margin-left: 5px;
}

.editIcon {
	background-image: url(../images/icons/edit_detail.png);
	background-size: cover;
	display: block;
	width: 24px;
	height: 24px;
}

.timeIcon {
	background-image: url(../images/icons/time.png);
	background-size: cover;
	display: block;
	width: 24px;
	height: 24px;
	margin-right: 5px;
	cursor: pointer;
}

.helpIcon {
	background-image: url(../images/icons/help.png);
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 5px;
	cursor: help;
}

.helpInput {
	float: left;
}

.resizePreview {
	cursor: nesw-resize;
}

.documentTitle, .documentMimeType {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 150px;
	float: left;
}

.documentTitleColumn {
	width: 182px;
}

.documentActionsColumn {
	width: 65px;
}

.taskButtonRow button {
	margin: 10px 50px 0 0;
}

.scrumFieldset .ui-fileupload .ui-corner-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-size: 100%;
}

.com.ncrowd.scrum.portlet .fileupload-content td.progress {
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.com.ncrowd.scrum.portlet .fileupload-buttonbar label {
	display: inline-block;
	margin-top: 5px;
}

.uploadHeader {
	padding: 4px;
	text-align: center;
	border: none;
}

.comment-text {
	white-space: normal;
}

.com.ncrowd.scrum.portlet .ui-treetable .ui-treetable-toggler {
	margin-top: 0;
}

.overtimeTask {
	background-image: none !important;
	background-color: #CC6666 !important;
}

.undertimeTask {
	background-image: none !important;
	background-color: #66CC66 !important;
}

.sprintStatusTable {
	margin-top: 50px;
}

.deleteSprintButton {
	float: right;
}

.sprintStatusHeader {
	border-radius: 6px;
	margin-right: 1px;
	padding: 5px 10px;
}

.viewContainer {
	position: relative;
	padding-top: 20px;
	background: none !important;
	border: none !important;
}

.backButton {
	position: absolute;
	right: 0;
	top: 0;
}

.editColumn .ui-row-editor {
	float: left;
}

.moveTaskDialog .ui-confirm-dialog-severity {
	display: none;
}

.prefHeadline {
	font-weight: bold;
}

.com.ncrowd.scrum.portlet .ui-icon-pencil {
	background-image: url(../images/icons/edit.png) !important;
	background-position: 0% 0%;
	background-size: cover;
	display: block;
	width: 24px;
	height: 24px;
	float: left;
}

.com.ncrowd.scrum.portlet .ui-row-editor .ui-icon-check {
	background-image: url(../images/icons/save.png) !important;
	background-position: 0% 0%;
	background-size: cover;
	width: 24px;
	height: 24px;
	float: left;
}

.com.ncrowd.scrum.portlet .ui-row-editor .ui-icon-close {
	background-image: url(../images/icons/cancel.png) !important;
	background-position: 0% 0%;
	background-size: cover;
	width: 24px;
	height: 24px;
	float: left;
}

.com.ncrowd.scrum.portlet .ui-icon-trash {
	background-image: url(../images/icons/delete.png) !important;
	background-position: 0% 0%;
	background-size: cover;
	display: block;
	width: 24px;
	height: 24px;
	float: left;
}

.com.ncrowd.scrum.portlet .ui-icon-circle-triangle-w {
	background-image: url(../images/icons/left.png) !important;
	background-position: 0% 0%;
	background-size: cover;
}

.com.ncrowd.scrum.portlet .ui-icon-circle-triangle-e {
	background-image: url(../images/icons/right.png) !important;
	background-position: 0% 0%;
	background-size: cover;
}

.com.ncrowd.scrum.portlet label .ui-icon-plusthick {
	background-image: url(../images/icons/add.png) !important;
	background-position: 0% 0%;
	background-size: cover;
}

.com.ncrowd.scrum.portlet .ui-icon-arrowreturnthick-1-n {
	background-image: url(../images/icons/up.png) !important;
	background-position: 0% 0%;
	background-size: cover;
}

.com.ncrowd.scrum.portlet .ui-icon-cancel {
	background-image: url(../images/icons/cancel.png) !important;
	background-position: 0% 0%;
	background-size: cover;
}

.com.ncrowd.scrum.portlet .ui-icon-disk {
	background-image: url(../images/icons/save.png) !important;
	background-position: 0% 0%;
	background-size: cover;
}

#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:editForm\:taskGroup_panel li,
#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:editForm\:status_panel li,
#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:editForm\:assignedTo_panel li,
#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:editForm\:sprint_panel li,
#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:form\:sprintMenu_panel li,
#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:prefForm\:scrumGroupId_panel li {
	font-size: 12px;
	line-height: 1.4;
}

#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:editForm\:taskGroup_panel ul,
#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:editForm\:status_panel ul,
#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:editForm\:assignedTo_panel ul,
#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:editForm\:sprint_panel ul,
#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:form\:sprintMenu_panel ul,
#_comncrowdscrumportlet_WAR_comncrowdscrumportlet_\:prefForm\:scrumGroupId_panel ul {
	margin: 0;
}